{% extends "base.html" %}

{% block page_title %}Digital Vital Records{% endblock %}

{% block content %}
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Digital Vital Records</h2>
                <p>Digitization of New York City's historical vital records is an on-going project. The charts below
                    show full-page certificates in our collection and their digitization status. Registers* for years
                    prior to 1898 are viewable via microfilm in our reference room at 31 Chambers Street, New York, NY.
                    <a href="https://www1.nyc.gov/site/records/about/hours-and-directions.page" target="_blank"
                       rel="noopener noreferrer"><strong>Schedule your visit</strong></a>.
                </p>
                <p>*Registers, or ledger books, preceded individual certificates, and contain minimal vital record
                    information.</p>
                <p>To purchase a certified copy of a vital record that is not available on this website, please fill out
                    the <a href="https://www1.nyc.gov/site/records/historical-records/order.page" target="_blank"
                           rel="noopener noreferrer"><strong>Vital Records Order Form</strong></a>.</p>
                <nav aria-label="Certificate type navigation">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="births" data-toggle="tab" href="#births-tab"
                           role="tab" aria-controls="births-tab" aria-selected="true"
                           aria-label="View birth certificates chart">Births</a>
                        <a class="nav-item nav-link" id="deaths" data-toggle="tab" href="#deaths-tab"
                           role="tab" aria-controls="deaths-tab" aria-selected="false"
                           aria-label="View death certificates chart">Deaths</a>
                        <a class="nav-item nav-link" id="marriages" data-toggle="tab" href="#marriages-tab"
                           role="tab" aria-controls="marriages-tab" aria-selected="false"
                           aria-label="View marriage records charts"
                        >Marriages</a>
                    </div>
                </nav>
                <div class="tab-content" id="tab-content">
                    <div class="tab-pane fade show active pt-2" id="births-tab" role="tabpanel"
                         aria-labelledby="births">
                        <h3 class="h5 py-1">Digitized Birth Records</h3>
                        <p><b>Bronx:</b> 1872 to 1873, 1876, 1888 to 1891, 1895 to 1909</p>
                        <p><b>Kings (Brooklyn):</b> 1866 to 1909</p>
                        <p><b>Manhattan:</b> 1855, 1857 to 1861, 1863 to 1865, 1866 to 1909</p>
                        <p><b>Queens:</b> 1866, 1876, 1883, 1886, 1888 to 1909</p>
                        <p><b>Richmond (Staten Island):</b> 1898 to 1909</p>
                        <img src="{{ static_url_for('static', filename='img/birth-chart.png') }}"
                             alt="Chart for digitized birth certificates">
                    </div>
                    <div class="tab-pane fade pt-2" id="deaths-tab" role="tabpanel" aria-labelledby="deaths">
                        <h3 class="h5 py-1">Digitized Death Records</h3>
                        <p><b>Bronx:</b> 1898 to 1948</p>
                        <p><b>Kings (Brooklyn):</b> 1862 to 1948</p>
                        <p><b>Manhattan:</b> 1866 to 1867, 1871 to 1875, 1920 to 1948</p>
                        <p><b>Queens:</b> 1881-1892, 1898 to 1948</p>
                        <p><b>Richmond (Staten Island):</b> 1898 to 1948</p>
                        <img src="{{ static_url_for('static', filename='img/death-chart.png') }}"
                             alt="Chart for digitized death certificates">
                    </div>
                    <div class="tab-pane fade pt-2" id="marriages-tab" role="tabpanel" aria-labelledby="marriages">
                        <h3 class="h5 py-1">Marriage Records</h3>
                        <p>The New York City Health Department issued marriage certificates through 1907. Beginning in
                            1908, in compliance with N.Y. State Law, couples planning to marry obtained a license from
                            the City Clerk. The City Clerk marriage licenses typically include an “affidavit” filled out
                            by the couple, the “license” issued by the Clerk, and a “certificate” completed by the
                            person performing the ceremony.</p>
                        <p>Since the Health Department continued to record marriages until 1937, there are potentially
                            two separate records of a marriage for the period from 1908 through 1937—the Health
                            Department Certificate and the City Clerk License. The recorded information is duplicative,
                            however, the City Clerk licenses include additional information about the couple’s parents
                            and occupations.</p>
                        <p>How to Research the City Clerk Marriage License Record</p>
                        <p>Step 1. Search the index at <a
                                href="www.https://www.ancestry.com/search/categories/34/" target="_blank"
                                rel="noopener noreferrer">Ancestry.com</a>. Search results on the Ancestry site may
                            include both the Health Department marriage record (for marriages reported from 1866 to
                            1937) and the City Clerk license record (for marriages reported from 1908 to 1949). The
                            record number in each series is different. Make sure the correct number for the City Clerk
                            license has been identified. On the Ancestry site, the source for the City Clerk license
                            number will indicate: “New York, New York, U.S., Marriage License Indexes, 1907-2018.”</p>
                        <p>Step 2. After obtaining the City Clerk license number from the index, return to <a
                                href="{{ url_for('public.index')}}">Historical Vital Records</a> to view the record, or
                            to order a copy. Note that digitization of the license records is on-going. See the chart
                            below to determine whether the record has been digitized. If not, the record can be viewed
                            on microfilm at the Municipal Archives, or <a
                                    href="https://www1.nyc.gov/site/records/historical-records/order.page"
                                    target="_blank" rel="noopener noreferrer">order a copy</a>.</p>
                        <h3 class="h5 py-1">Digitized Marriage Certificates</h3>
                        <p><b>Bronx:</b> 1898 to 1937</p>
                        <p><b>Kings (Brooklyn):</b> 1866 to 1937</p>
                        <p><b>Manhattan:</b> 1866 to 1937</p>
                        <p><b>Queens:</b> 1898 to 1937</p>
                        <p><b>Richmond (Staten Island):</b> 1898 to 1937</p>
                        <img src="{{ static_url_for('static', filename='img/marriage-chart.png') }}"
                             alt="Chart for digitized marriage certificates">
                        <hr>
                        <h3 class="h5 py-1">Digitized Marriage Licenses</h3>
                        <p><b>Bronx:</b> Not yet digitized</p>
                        <p><b>Kings (Brooklyn):</b> 1938 to 1949</p>
                        <p><b>Manhattan:</b> 1908 to 1910, 1938 to 1949</p>
                        <p><b>Queens:</b> 1938 to 1948</p>
                        <p><b>Richmond (Staten Island):</b> 1908 to 1949</p>
                        <img src="{{ static_url_for('static', filename='img/marriage-license-chart.png') }}"
                             alt="Chart for digitized marriage licenses">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "public/municipal_archives_banner.html" %}
{% endblock %}