<section class="featured-panel device-lg">
    <div class="card pt-2 bg-dark overlay-gradient-y-primary">
        <div class="container align-self-center text-center">
            <h3 class="py-1 text-white">More from the NYC Municipal Archives</h3>
            <div class="row text-center text-white">
                <div class="col-lg-3 py-3">
                    <h4>Digital Collections</h4>
                    <p>
                        View more than 1 million digitized items
                    </p>
                    <a class="btn btn-info" href="http://nycma.lunaimaging.com/" target="_blank"
                       rel="noopener noreferrer">Digital Collections</a>
                </div>
                <!-- .col -->
                <div class="col-lg-3 py-3">
                    <h4>For the Record Blog</h4>
                    <p>
                        Read highlights from the archives
                    </p>
                    <a class="btn btn-info" href="https://www.archives.nyc/blog" target="_blank"
                       rel="noopener noreferrer">For the Record</a>
                </div>
                <!-- .col -->
                <div class="col-lg-3 py-3">
                    <h4>Collection Guides</h4>
                    <p>
                        Learn about our <br> collections
                    </p>
                    <a class="btn btn-info" href="https://a860-collectionguides.nyc.gov/" target="_blank"
                       rel="noopener noreferrer">Collection Guides</a>
                </div>
                <div class="col-lg-3 py-3">
                    <h4>Support the Archives</h4>
                    <p>
                        Donate, adopt an item, or purchase prints
                    </p>
                    <a class="btn btn-info" href="https://www1.nyc.gov/site/records/about/donate.page" target="_blank"
                       rel="noopener noreferrer">Donate Now</a>
                </div>
                <!-- .col -->
            </div>
            <!-- .col -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
    </div>
    <!-- .card -->
</section>