{% extends "base.html" %}

{% block content %}
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pb-2">Search</h2>
                <H3>By Certificate Number</h3>
                <p>Searching by certificate number is the easiest way to find your desired record. Certficate numbers
                    repeat in each certificate type, year, and borough.</p>
                <div class="col-md text-center">
                    <form action="{{ url_for('public.browse_all') }}" method="get" role="form" id="search-by-number-form">
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_number_form.certificate_type.label(class="control-label",
                                for="certificate_type") }}
                                {{ search_by_number_form.certificate_type(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_number_form.number.label(class="control-label", for="number") }}
                                {{ search_by_number_form.number(class="form-control", maxlength="7") }}
                            </div>
                        </div>
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_number_form.county.label(class="control-label", for="county") }}
                                {{ search_by_number_form.county(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_number_form.year.label(class="control-label", for="year") }}
                                {{ search_by_number_form.year(class="form-control", maxlength="4") }}
                            </div>
                        </div>
                        <div class="text-center pt-3 pb-1">
                            {{ search_by_number_form.submit(class="btn btn-info") }}
                        </div>
                    </form>
                </div>
                <hr>
            </div>
            <div class="col-lg pt-2">
                <h3>By Name</h3>
                <p>Searching by name is in beta mode, and may not produce accurate results. Marriage licenses are not
                    yet indexed by name, so no marriage licenses will be returned in name search results.<br>
                    <small>Search tips:
                        <ul>
                            <li>Certificate numbering restarts at one for each borough, every year.</li>
                            <li>Search by any spelling or pronunciation variations of names.</li>
                            <li>The year on the certificate represents the date the document was filed with the City
                                agency, not necessarily the year of the birth, death, or marriage.
                            </li>
                            <li>Use a range of years.</li>
                            <li>Use the mother’s maiden name to narrow searches on birth certificates.</li>
                            <li>Note: approximately 25% of all births before 1909 were not reported and never issued a
                                birth certificate.
                            </li>
                            <li>Marriage certificates and licenses use the brides maiden name not married name.</li>
                            <li>The date of birth or age of death is useful in determining the correct individual.</li>
                        </ul>
                    </small>
                <div class="col-md text-center">
                    <form action="{{ url_for('public.browse_all') }}" method="get" role="form" id="search-by-name-form">
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_name_form.certificate_type.label(class="control-label",
                                for="certificate_type")
                                }}
                                {{ search_by_name_form.certificate_type(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.last_name.label(class="control-label", for="last_name") }}
                                {{ search_by_name_form.last_name(class="form-control", maxlength="64") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.first_name.label(class="control-label", for="first_name") }}
                                {{ search_by_name_form.first_name(class="form-control", maxlength="64") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.county.label(class="control-label", for="county") }}
                                {{ search_by_name_form.county(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.year.label(class="control-label", for="year") }}
                                {{ search_by_name_form.year(class="form-control", maxlength="4") }}
                            </div>
                        </div>
                        <div class="text-center pt-3 pb-1">
                            {{ search_by_name_form.submit(class="btn btn-info") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "public/municipal_archives_banner.html" %}
{% endblock %}