{% extends "base.html" %}

{% block page_title %}Search{% endblock %}

{% block content %}
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pb-2">Search</h2>
                <h3>By Certificate Number</h3>
                <p>The fastest way to locate a vital record is by using the certificate number. Note that certificate
                    numbering restarts at 0000001 annually for each borough and you must limit by borough and year to
                    retrieve a unique record.</p>
                <div class="col-md text-center">
                    <form action="{{ url_for('public.browse_all') }}" method="get" role="form" id="search-by-number-form">
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_number_form.certificate_type.label(class="control-label",
                                for="certificate_type") }}
                                {{ search_by_number_form.certificate_type(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_number_form.number.label(class="control-label", for="number") }}
                                {{ search_by_number_form.number(class="form-control", maxlength="7") }}
                            </div>
                        </div>
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_number_form.county.label(class="control-label", for="county") }}
                                {{ search_by_number_form.county(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_number_form.year.label(class="control-label", for="search-by-number-year") }}
                                {{ search_by_number_form.year(class="form-control", maxlength="4", type="number", min=year_range_min) }}
                            </div>
                        </div>
                        <div class="text-center pt-3 pb-1">
                            {{ search_by_number_form.submit(class="btn btn-info") }}
                        </div>
                    </form>
                </div>
                <h4>Finding Certificate Numbers</h4>
                <p>Indexes of the birth, death, and marriage records contain certificate numbers, and can be searched
                    on:</p>
                <div>
                    <ul>
                        <li><a href="https://www.ancestry.com/search/categories/34/" target="_blank" rel="noopener noreferrer">Ancestry</a>
                        </li>
                        <li><a href="https://www.germangenealogygroup.com/" target="_blank" rel="noopener noreferrer">German
                            Genealogy Group</a></li>
                        <li><a href="https://italiangen.org/" target="_blank" rel="noopener noreferrer">Italian
                            Genealogical Group</a></li>
                        <li>
                            <a href="https://www.familysearch.org/en/wiki/New_York_City,_New_York,_Online_Genealogy_Records"
                               target="_blank" rel="noopener noreferrer">FamilySearch</a></li>
                    </ul>
                </div><br>
                <hr>
            </div>
            <div class="col-lg pt-2">
                <h3>By Name&nbsp;<small><sup><b>beta</b></sup></small></h3>
                <p>Searching by name is in beta mode, and may not produce accurate results. Because marriage licenses
                    are not yet indexed by name, marriage licenses will not be returned in name search results. Further
                    guidance on researching <a href="{{ url_for('public.digital_vital_records') }}">City Clerk marriage
                        license records</a>.</p>
                <p>The searchable index used on this site was created by the Long Island Genealogy Federation by
                    transcribing original hard-copy indexes (which may have been inaccurately transcribed from original
                    certificates). Future phases of the <i>Historical Vital Records of NYC</i> project
                    may include opportunities for crowd-sourcing to improve and correct the index.</p>
                <div class="col-md text-center">
                    <form action="{{ url_for('public.browse_all') }}" method="get" role="form" id="search-by-name-form">
                        <div class="form-horizontal form-div">
                            <div class="form-group">
                                {{ search_by_name_form.certificate_type.label(class="control-label",
                                for="certificate_type")
                                }}
                                {{ search_by_name_form.certificate_type(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.last_name.label(class="control-label", for="last_name") }}
                                {{ search_by_name_form.last_name(class="form-control", maxlength="64") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.first_name.label(class="control-label", for="first_name") }}
                                {{ search_by_name_form.first_name(class="form-control", maxlength="64") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.county.label(class="control-label", for="county") }}
                                {{ search_by_name_form.county(class="form-control browse-all-select") }}
                            </div>
                        </div>
                        <div class="form-div">
                            <div class="form-group">
                                {{ search_by_name_form.year.label(class="control-label", for="search-by-name-year") }}
                                {{ search_by_name_form.year(class="form-control", maxlength="4", type="number", min=year_range_min) }}
                            </div>
                        </div>
                        <div class="text-center pt-3 pb-1">
                            {{ search_by_name_form.submit(class="btn btn-info") }}
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div>Search tips:
                <ul>
                    <li>Certificate numbering restarts at 0000001 for each borough*</li>
                    <li>Try alternate name spellings if necessary</li>
                    <li>The year on the certificate represents the date the document was filed with the City agency, not
                        necessarily the year of the birth, death, or marriage event
                    </li>
                    <li>Use the mother’s maiden name to narrow searches for birth certificates</li>
                    Note: approximately 25% of all births before 1909 were not reported to the Health Department so
                    there will not be a record on file
                    <li>Marriage certificates and licenses are indexed by the bride’s maiden name not married name</li>
                    <li>The date of birth or age at time of death is useful in identifying the correct individual</li>
                    <br>
                    &nbsp;&nbsp; * One exception: Manhattan records were continuously numbered from 1881 to 1887
                </ul>
            </div>
        </div>
    </div>
</section>
{% include "public/municipal_archives_banner.html" %}
{% endblock %}