<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Corrects IE Compatibility Mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block page_title %}
            Historical Vital Records of NYC
        {% endblock %}
    </title>
    <!-- NYC Theme CSS -->
    <link rel="stylesheet" href="{{ static_url_for('static', filename='build/main_css.bundle.css') }}">
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='build/img/favicon.ico') }}"/>

    {% block css %}{% endblock %}
</head>
<body>
    {% include "header.html" %}

    <main id="skip-header-target" role="main">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

    <!-- Popper.js and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Google Translate -->
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- NYC template JS (RTL, search and language toggle, back to top)  -->
    <script src="static/build/{{ static_url_for('static', filename='build/main_js.bundle.js') }}"></script>

    {% block js %}{% endblock %}

</body>

</html>