<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Corrects IE Compatibility Mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block page_title %}
            Historical Vital Records of NYC
        {% endblock %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/plugins/fontawesome/all.min.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/plugins/jquery-ui/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/plugins/jquery-ui/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='img/favicon.ico') }}"/>

    {% block css %}{% endblock %}
</head>
<body>
    {% include "header.html" %}

    <main id="skip-header-target" role="main">
        {% block content %}{% endblock %}
    </main>

    {% include "footer.html" %}

    <!-- Google Translate -->
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <!-- JS -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/nyc-core-framework/nyc-core-framework.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/nyc-core-framework/responsive-table.js') }}"></script>
    <script src="{{ static_url_for('static', filename='js/plugins/nyc-core-framework/validation.js') }}"></script>

    {% block js %}{% endblock %}
</body>

</html>