<footer class="bg-black" id="global-footer" role="contentinfo">
    <h2 class="sr-only">
        Page Footer
    </h2>
    <div class="bg-opacity-black-25 text-white" id="nyc-footer">
        <hr class="opacity-10" aria-hidden="true">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6 col-lg-8 mb-3 mb-lg-0">
                    <nav class="row fs-md" role="navigation">
                        <div class="col-lg mb-3 mb-lg-0">
                            <ul class="extensible-list">
                                <li>
                                    <a class="text-reset" href="#">
                                        <strong>NYC Municipal Archives Historical Vital Records</strong>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-reset" href="http://www.nyc.gov/doris">
                                        <strong>Department of Records and Information Services</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- .col -->
                        <div class="col-lg mb-3 mb-lg-0">
                            <ul class="extensible-list">
                                <li>
                                    <a class="text-reset" href="mailto:research@records.nyc.gov">
                                        <strong>Contact Us:<br>research@records.nyc.gov</strong>
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a class="text-reset" href="https://twitter.com/nycrecords">
                                        <span class="fab fa-lg fa-twitter-square"></span>&nbsp;
                                    </a>
                                    <a class="text-reset" href="http://www.facebook.com/nycrecords">
                                        <span class="fab fa-lg fa-facebook-square"></span>&nbsp;
                                    </a>
                                    <a class="text-reset" href="https://www.instagram.com/nycarchives/">
                                        <span class="fab fa-lg fa-instagram"></span>&nbsp;
                                    </a>
                                    <a class="text-reset" href="http://www.youtube.com/nycdeptofrecords">
                                        <span class="fab fa-lg fa-youtube-square"></span>&nbsp;
                                    </a>
                                    <a class="text-reset" href="http://nycrecords.tumblr.com/">
                                        <span class="fab fa-lg fa-tumblr-square"></span>&nbsp;
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- .col -->
                        <div class="col-lg mb-3 mb-lg-0">
                            <ul class="extensible-list">
                                <li>
                                    <strong>&#169; 2021</strong>
                                </li>
                                <li>
                                    <strong>Vital Records Online</strong>
                                </li>
                                <li>
                                    <a class="text-reset" href="http://opensource.org/licenses/ecl2.php">
                                        <strong>Educational Community License, version 2.0</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- .col -->
                    </nav>
                </div>
                <!-- .col -->
                <div class="col-md-6 col-lg-4">
                    <a class="mb-2" href="https://www1.nyc.gov" title="Go to nyc.gov" target="_blank">
                        <img class="mb-2" src="{{ static_url_for('static', filename='img/nyc-bubble-logo.svg') }}" width="90" alt="NYC Logo">
                    </a>
                    <p class="fs-sm">City of New York - 2019 All Rights Reserved. NYC is a trademark and service
                        mark of the City of New York.</p>
                    <ul class="extensible-list horizontal fs-sm">
                        <li>
                            <a class="text-reset" href="http://www1.nyc.gov/home/privacy-policy.page">Privacy
                                Policy</a>
                        </li>
                        <li>
                            <a class="text-reset" href="http://www1.nyc.gov/home/terms-of-use.page">Terms
                                of Use</a>
                        </li>
                        <li>
                            <a class="text-reset" href="http://www1.nyc.gov/site/mopd/index.page"
                               title="Mayor's Office for People with Disabilities">
                                <span class="sr-only">Mayor's Office for People with Disabilities</span>
                                <span class="fab fa-lg fa-accessible-icon"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- #nyc-bottom-footer -->
</footer>